// Colors
$color-font-main: #333333;
$color-font-main-light: #ffffff;
$color-font-main-dark: #000000;
$color-font-light: #999999;
$color-font-date: #4d4845;

$color-primary: #358790;
$color-error: #cc0000;

$color-background-light: #f4f4f5;
$color-background-main-light: #ffffff;
$color-background-main-dark: #134d40;
$color-background-type-label: #ba67c8;

$color-border: #979797;

$color-link-main: #0d7680;
$color-link-hover: #08474d;
$color-link-secondary: #cfe4e6;
$color-link-hover-secondary: #9ec8cc;
